.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(94, 73,52);
    box-sizing: border-box;
}

.nav{
    display: flex;  
    width: 65%;
    justify-content: space-between;
}

.div_logo{
    display: flex;
    width: 20%;
}


.menu{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-content: center;
    margin-left: 15%;

}
.menu ul{
    display: flex;
    justify-content: space-between; 
}

.menu li{
    padding: 7px;
}

.menu-login{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.titulo{
    color: aliceblue;
}

.menu li{
    color: rgb(190, 189, 189);
}

.menu li:first-child{
    color: #ffffff;
}

.menu li:hover{
    color: rgb(250, 248, 248);
    transition: 0.2s;
    cursor: pointer;
}

.menu-login .login{
    color: rgb(190, 189, 189);
    border: solid 1px;
    border-radius: 5px;
    padding: 7px 15px;

}

.menu-login .login:hover{
    color: #ffffff;
    transition: 0.2s;
    cursor: pointer;

}

.menu-login .cadastro{
    background-color: rgb(104, 34, 2);
    border-radius: 5px;
    padding: 7px 15px;
    color: #ffffff;
}

.menu-login .cadastro:hover{
    background-color: rgb(158, 51, 1);
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}
